// Specific CSS for your home-page

#home-intro {
  color: white;
  font-weight: 400;
  margin-bottom: 50px;
}

#first-page {
  background-image: linear-gradient(rgb(0, 0, 0), #0E0E0E);
}

.home-container {
  width: 670px;
}

.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding: 90px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #EEC643;
  text-align: center;
}

#add-ff {
  margin-top: -20px;
}
.instruction h4 {
  font-weight: 300 !important;
  font-size: large !important;
}
.hiw {
  color: white;
  height: 100vh;
}

.hiw h3 {
  padding-top: 35px;
  padding-bottom: 62px;
}

.pog-icon {
  margin-top: 8px;
  width: 45px;
  width: 45px;
}


.create {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.8s ease-out;
  transition-delay: 0.2s;
}

.add {
    opacity: 0;
    transform: translateY(70px);
    transition: all 0.8s ease-out;
    transition-delay: 0.8s;
}

.pay {
    opacity: 0;
    transform: translateY(70px);
    transition: all 0.8s ease-out;
    transition-delay: 1.6s;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.emoji {
  position: absolute;
  transform: translateZ(0);
  perspective: 1000;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  width: 25px;
  height: 25px;
  top: -150px;
}

section {
  height: 100vh;
  width: 100vw;
}
#third-page {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url("assets/pot-of-gold.jpg");
  background-position: 20%;
  background-size: cover;
  background-repeat: none;
}

#second-page {
  background-image: linear-gradient(#0E0E0E,rgba(0, 0, 0, 0.9))
}
