<div class="footer">
  <div class="footer-content">
    <p>Made by <strong>Deji Hastrup</strong></p>
    <div class="links d-flex justify-content-around">
    <a href="https://github.com/dejihastrup" target="_blank"id="github"><i class="fa-brands fa-square-github" style="color: #ffffff;"></i></a>
      <a href="https://www.linkedin.com/in/deji-hastrup/" target="_blank" id="linkedin"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
    </div>
  </div>
</div>
