.cta-home {
  color: white;
  border: 1px solid #EEC643;
  padding: 0.35rem 0.7rem;
  font-weight: 100;
  font-size: small;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 25px;
}

.cta-home:hover {
  color: black;
  // font-weight: 500;
  border: 1px solid #EEC643;
  background-color: #EEC643;
}
