.navbar-lewagon {
  justify-content: flex-end;
  background: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.logo {
  font-weight: 600;
  text-decoration: none;
  color: white;
  position: absolute;
  left: 46.5%;
}
.logo div {
  width: 60px;
}
#logo-o {
  font-weight: 600;
  color: #EEC643;
}

.container-fluid {
  justify-content: flex-end !important;
}
.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #EEC643 !important;
}
